.shortcuts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 30px;
  max-width: 900px;
  width: 100%;
}

.shortcut-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  color: #333;
  padding: 20px;
}

.shortcut-card:hover {
  transform: scale(2) rotate(3deg); /* Scale and rotate on hover */
}
.shortcut-image:hover {
  transform: scale(1.5) rotate(-3deg); /* Scale and rotate on hover */
}
.shortcut-card:hover, .shortcut-image:hover {
  transition: transform 1s ease;
}

.shortcut-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 15px;
  animation: scale 5s ease-in-out forwards, rotate 0.5s ease-in-out forwards,;
}

.shortcut-title {
  font-size: 24px;
  text-align: center;
  padding: 0 10px 15px 10px;
  font-family: 'Comic Sans MS', monospace;
}

/* Animations */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.shortcut-card:nth-child(even) {
  animation-delay: 0.1s;
}

.shortcut-card:nth-child(odd) {
  animation-delay: 0.2s;
}
.name {
  font-family: 'Comic Sans MS', monospace;
  font-size: 128px;
  grid-column: 1 / -1;
  color: cornsilk;
  justify-self: center;
}