/* src/index.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to bottom left,
    #eee1bd,
    #ecd6b7,
    #eeceb6,
    #eebab6,
    #d3a0be,
    #c09fbe,
    #b09cc1,
    #9b9dc5,
    #809cca,
    #659aca,
    #4397c3
  );
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Basic Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Define the kid-friendly font variable */
:root {
  --kid-font: "Playpen Sans", cursive; /* Use the Google Font */
}
